/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, video{
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rules for body and images */
body {
	background-color:#B22222;
	
}

img {
	max-width: 100%;
	display: block;
}
/* Style rules for mobile viewport */

/* Style rule for header */
header {
	top: 0;
	background-color:#B22222;
	height: 190px;
	width: 
}

header img {
	margin: 0 auto;
    border-radius: 100%;
	float: 0;
    width: 175px; 
    border: 10px solid #B22222; 
    padding: 0; 
}
/* Style rules for navigation area */
nav {
	padding: 0;
	margin-bottom: 1%;
}

nav ul {
	list-style-type: none;
	text-align: center;
	background-color: #B22222;
}

nav li {
	font-size: 1.5em;
	font-family: 'Tourney', sans-serif;
	border-top: 1px solid #fff;
}

nav li:first-child {
	border-top: none;
}

nav li a {
	display: block;
	color: #fff;
	padding: 0.5em 1em;
	text-decoration: none;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
	display: block;
}

.tablet-desktop {
	display: none;
}

/* Style rules for main content */
main {
	background-color: #fff;
	padding: 2%;
	font-size: 1.15em;
	text-align: center;
	font-family: 'Share', sans-serif;
}
#stats, #awards h2{
	text-align: center;
}

table{
	border: 1px solid #373684;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
}

caption{
	font-size: 1.5em;
	font-weight: bold;
	padding: 1%;
}

th, td, tr {
	border: 1px solid #4b0505;
	padding: 2%;
}

th {
	color: #fff;
	font-size: 1.15em;
}
tr:nth-child(odd) {
	background-color: #dddbdb;
}

.tel-link {
	background-color: #404040;
	Padding: 2%;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 5px;
}

.tel-link a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}

.external-link {
	font-weight: bold;
	text-decoration: none;
}

#contact {
	text-align: center;
}

#contact .contact-email-link {
	color: #001a66;
	text-decoration: none;
}
/* Style rules for form elements */
fieldset, input {
	margin-bottom: 2%;
}

fieldset legend {
	font-weight: bold;
	font-size: 1.25em;
}

label {
	display: block;
	padding-top: 3%;
}

form #submit {
	margin: 0 auto;
	display: block;
	padding: 3%;
	background-color: #b7b7e1;
	font-size: 1em;
}

/* Style rules for footer content */
footer p {
	font-size: 0.85em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {

/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
.tablet-desktop {
	display: block;
}
	
.mobile {
	display: none;
}

/* Tablet Viewport: Style rule for header */ 
header {
	position: static;
	padding-bottom: 2%;
}
	
/* Tablet Viewport: Style rules for nav area */
nav li {
	border-top: none;
	display: inline-block;
	border-right: 1px solid #fff;
}
	
nav li:last-child {
	border-right: none;
}
	
nav li a {
	padding: 0.1em 0.75em;
}
	
/* Tablet Viewport: Style rules for main content area */
main ul {
	margin: 0 0 4% 10%;
}
table{
	width: 70%;
}
form {
	width: 70%;
	margin: 0 auto;
}

#form h2 {
	text-align: center;
}
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {

/* Desktop Viewport: Style rule for header */
header {
	width: 25%;
	float: left;
	padding: 0;
	margin: 0;
	text-align: right;
	background-color: #B22222;
}

/* Desktop Viewport: Style rules for nav area */
nav {
	float: right;
	width: 70%;
	margin: 4em 1em 0 0;
}

nav ul {
	text-align: right;
}

nav li {
	border: none;
}

nav li a {
	padding: 0.5em 1em;
}

nav li a:hover {
	color: #000;
	background-color: #fff;
	transform: scale(1.2);
}

/* Desktop Viewport: Style Rules for main content */
main {
	clear: left;
}

main h1 {
	font-size: 1.8em;
}
/* Desktop Viewport: Style rules for form elements */
form {
	width: auto;
}

.form-grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 20px;
}
.btn {
	grid-column: 1 / span 2;
}
	* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {

	#container{
		width: 1920px;
		margin: 0 auto;
	}

}

/* Media Query for Print */
@media print{

	body {
		background-color: #fff;
		color: #000;
	}
}
	

